[project]
name = "weather"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "httpx>=0.28.1",
    "mcp[cli]>=1.2.1",
    "psutil>=7.0.0",
]

[dependency-groups]
dev = [
    "black>=25.1.0",
    "ruff>=0.9.6",
]
